Список команд которые мне доступны:

/start - регистрация пользователя.
/help - вывод списка доступных команд.
/track - начать отслеживание ссылки.
/untrack - прекратить отслеживание ссылки.
/list - показать список отслеживаемых ссылок.